@page "/"

<PageTitle>Assignment</PageTitle>

<h1>Hughes FCU - Coding Assignment</h1>
<h4>By Jose Bernardo Montano</h4>
<br/>
<p>I decided to do the coding assignment in blazor web server since it is the technology
    that I am working with at the moment and I thought it would be fun to make a webapp instead
    of a console application.</p>

<p>In the navbar you can select to see the different coding problems that were requested.</p>
<p>I hope you guys like the website!</p>